@use 'vuetify/lib/styles/main.sass' with (
  $color-pack: false,
  $utilities: false,
  $reset: false,
);

.label {
	font-weight: 549;
	font-size: 1rem;
	margin-bottom: 6px;
	display: inline-block;
	cursor: pointer;
    color: #607d8b;
}